body{
    background: #333;
    color: #fff;
}


.navbar {
    background: blue;
    border-bottom: #333 3px solid;
    opacity: 0.8;
}


#home-section {
    background: url(./img/icon_wallpaper_social.jpg);
    min-height: 700px;
    background-size :cover;
    background-attachment: fixed;
}

#home-section .fa{
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#explore-head-section {
    background-color: #333;
    }

.dark-overly {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width: 100%;
}


.home-inner {
    padding-top: 150px;
}

#explore-section .fa {
    color: #fff;;
    background-color: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;  
}

#create-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;        
}

#share-section .fa {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;     
}

.card-form {
    opacity: 0.5;
}
